<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-moverioBT350"
    version="0.0.1">
    <name>Cordova Plugin Moverio BT350</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/davgc/cordova-plugin-moverioBT350.git</repo>
    
  <engines>
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-android" version=">=5.1.0" />
  </engines>
    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- Este es el nombre por el cual se accedera el plugin -->
        <clobbers target="moverioBT350" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="moverioBT350">
          <param name="android-package" value="com.funcionasi.moverioBT350" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/funcionasi/moverioBT350.java" target-dir="src/com/funcionasi/" />

      <lib-file src="src/android/libs/BT350Ctrl.jar"/>
      <framework src="com.android.support:support-v4:+" />

    </platform>

</plugin>
